* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Space Grotesk", sans-serif;
}

html,
body {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

.greenbtn {
    background-color: #b9ff66;
}

.blackbtn {
    background-color: #191A23;
    padding: 1rem 1.2rem;
    color: white;
    border-radius: 8px;
}

.whitebtn {
    background-color: #f3f3f3;
    border-radius: 8px;
}

.navmain {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    max-width: 8rem;
}

li.border-dark {
    border-radius: 8px;
}

.navmain .nav-item {
    margin-left: 1.5rem;

}


.hero-section {
    width: 100%;
    height: 80vh;
    display: flex;
    gap: 2rem;
}

.hero-left {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 2rem;
    padding: 2rem 0;

}

.main-heading {
    max-width: 70%;
    font-weight: 700;
}

.hero-para {
    font-size: .9rem;
    max-width: 60%;
}

.hero-right {
    flex: 1;
    display: flex;
    align-items: center;
}

.hero-right img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}



.links {
    display: flex;
    justify-content: space-between;
}

.medialink img {
    max-width: 5rem;
    min-width: 3rem;
}

/* about section */
.about-wrapper {
    display: flex;
    flex-direction: column;
}

.about-top {
    margin: 2rem 0;
    display: flex;
    gap: 2rem;
}

.about-top h2 {
    font-size: 1.5rem;
    max-width: 8rem;
    width: fit-content;
    height: 100%;
    text-align: center;
}

.about-top p {
    max-width: 490px;
    font-size: .8rem;
    line-height: 1.5;
}

.about-card {
    display: flex;
    gap: 2rem;
}

.cards {
    flex: 1;
    display: flex;
    gap: 1rem;
    border: 1px solid black;
    border-radius: 15px;
    padding: 2rem;
    box-shadow: 0px 4px 0px black;
}

.left-area,
.right-area {
    flex: 1;
}

.left-area {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
}

.left-area .h6 {
    font-size: 1rem;
    max-width: 70%;
}

.icon .image {
    width: 25px;
    height: 25px;
    border-radius: 50%;
}

.icon .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.right-area img {
    width: 100%;
    height: 100%;
}

.icon span {
    font-size: .8rem;
}

.about-bottom {
    display: flex;
    gap: 2rem;
    margin-top: 2rem;
}

.about-bottom h2 {
    min-width: fit-content;
    font-size: 1.5rem;
}

.about-bottom p {
    font-size: .8rem;
    line-height: 1.5;
    max-width: 230px;
}

.accordion-button::after {
    display: none;
    content: "+";
}

.accordion-item {
    border-radius: 40px;
    padding: 1rem .5rem;
}

.custom-accordion-button::before {
    content: '+';
    font-weight: bold;
    margin-right: 10px;
    transition: transform 0.3s ease-in-out;
    position: absolute;
    right: 10px;
    font-size: 2rem;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding: 0 .55rem; */
}

.custom-accordion-button:not(.collapsed)::before {
    content: '-';
    font-size: 2rem;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotate(0);
    margin-bottom: 8px;
}

.contact-para {
    font-size: .8rem;
    width: 30%;
}
.contact-us .bottom{
    border-radius: 15px;

}
 .contact-img {
     height: 300px;
 }
 .form-control{
    border-radius: 10px !important;
 }
 .form-img{
    float: right;
    height: 100%;
   width: 100%;
   align-self: center;
 }
 .form-img img{
    
    width: 100%;
    height: 100%;
    min-height: 400px;
    object-fit: cover;
    position: relative;
    left: 100px;
 }
.form{
    padding: 1rem 3rem;
}
/* footer */
.footer{
    width: 100%;
    background-color: #191A23;
    color: #f3f3f3;
    padding: 2rem 3rem;
    border-top-left-radius: 35px;
    border-top-right-radius: 35px;
}
.icon-image{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.icon-image img{
    width: 100%;
    height: 100px;
    object-fit: contain;
}
.footer-links{
    display: flex;
    gap: 1;
}
.footer .nav-item a{
    color: #fff;
    text-decoration: underline;
    font-size: .8rem;
    margin-right: 1rem;
    width: fit-content;
} 
.footer-center h6{
    font-size: 1.1rem;
}
.footer-center h6.greenbtn{
    width: fit-content;
    padding: .3rem .5rem;
    color: #191A23;
}
.box{
        background-color: #292A32;
        border-radius: 12px;
}
.box-email-btn{
    display: flex;
    justify-content: center;
    gap: 1rem;
}


.input-email, .input-btn{
    max-width: 12rem;
    padding: .5rem 1rem;
    border-radius: 12px;
    background-color: #b9ff66;
}
.input-email{
    border: 2px solid #949498;
}

@media screen and (max-width: 992px) {
    .navmain .left {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

}

@media screen and (max-width: 764px) {
    .hero-section {
        flex-direction: column;
        height: auto;
        width: 100%;
    }

    .hero-section .main-heading {
        max-width: 100%;
        font-size: 2.3rem;

    }

    .hero-section .hero-para {
        max-width: 100%;
    }

    .hero-btn {
        min-width: 100%;
        text-align: center;
    }

    .top-links {
        position: relative;
        left: 50px;
    }

    .bottom-links {
        position: relative;
        left: -50px;
    }

    .about-top {
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }

    .about-top h2 {
        flex: 1;
    }

    .about-top p {
        flex: 1;
        max-width: 90%;
        text-align: center;
    }

    .cards:nth-child(1) {
        display: none;
    }

    .left-area .h6 {
        font-size: .8rem;
    }

    .about-bottom {
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }

    .contact-us {
        gap: 1rem;
        text-align: center;
    }

    .contact-us h4 {
       width: fit-content;
       margin: 0 auto;
    }

    .contact-us p {
        width: 100%;
        width: auto;
        display: inline-block;
    }
    
    .form-img{
        display: none;
    }
.footer-top{
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
}
.social-links .icon-image{
    position: relative;
    top: 430px;
}
.footer-links{
    flex-direction: column;
    align-items: center;
}
.footer-center{
    position: relative;
    bottom: 80px;
    padding-bottom: 100px !important;
    border-bottom: 2px solid #fff;
}
.center-left,.box-email-btn{
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 2rem 0;
}
.footer-bottom{
    flex-direction: column !important;
    text-align: center;
    padding: 0 !important;
}
   

}